<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Route69 | Smart Inventory System {% endblock %}</title>
    <style>
        body {
            background-color: #005288; /* Dark blue background */
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Smart Inventory System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 E-ITech</p>
    </footer>
</body>
</html>

